.first{
	background-image: url("http://localhost:5173/src/assets/images/morning.jpg") !important;
}
.second{
	background-image: url("http://localhost:5173/src/assets/images/day.jpg") !important;
}
.third{
	background-image: url("http://localhost:5173/src/assets/images/evening.png") !important;
}
.fourth{
	background-image: url("http://localhost:5173/src/assets/images/night.jpg") !important;
}