
/* Normal */
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url("./fonts/Montserrat-ExtraLight.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url("./fonts/Montserrat-Light.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("./fonts/Montserrat-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url("./fonts/Montserrat-Medium.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("./fonts/Montserrat-SemiBold.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url("./fonts/Montserrat-Bold.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    src: url("./fonts/Montserrat-ExtraBold.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    src: url("./fonts/Montserrat-Black.ttf");
    font-style: normal;
}


/* Italic */
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url("./fonts/Montserrat-ExtraLightItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    src: url("./fonts/Montserrat-LightItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("./fonts/Montserrat-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url("./fonts/Montserrat-MediumItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("./fonts/Montserrat-SemiBoldItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url("./fonts/Montserrat-BoldItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url("./fonts/Montserrat-ExtraBoldItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url("./fonts/Montserrat-BlackItalic.ttf");
    font-style: italic;
}
