@import './base.css';
@import 'bootstrap';

/* Для drops */
.list-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: auto;
}
.list-group-word{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.list-group-item-word{
    cursor:grab;
    flex-wrap: wrap;
    background-color: transparent;
}
.list-group-item{
    cursor:grab;
    height: auto;
    font-size: 16px;
    background-color: white;
}
.ghost{
    opacity: 0;
}

/* .sortable-chosen{
    opacity: 1 !important;
}
.sortable-ghost{
    opacity: 0 !important;
} */




html, body {
    overflow-x: hidden !important;
  }
  body {
    background-color: #262626;
    position: relative !important;
  }
.noBorder{
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 280px;
    height: 280px;
    object-fit: contain;
}
.img-enter{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.main{
    height: 100vh !important;
}

.wrong{
    background-color: rgb(171, 41, 41);
    color: white;
}
.right{
    color: white;
    background-color: rgb(18, 130, 18);
}

.right-btn{
    /* pointer-events: none; */
    background-color: rgb(18, 130, 18);
    color: white;
}
.wrong-btn{
    /* pointer-events: none; */
    background-color: rgb(171, 41, 41);
    color: white;
}
