@import './base.css';
@import 'bootstrap';

html, body {
    overflow-x: hidden !important;
  }
  body {
    background-color: #262626;
    position: relative !important;
  }
.noBorder{
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sortable-chosen{
    opacity: 1 !important;
}
.sortable-ghost{
    opacity: 0 !important;
}
.img{
    width: 280px;
    height: 280px;
    object-fit: contain;
}
.img-enter{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.list-group{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    height:auto !important;
    min-height: 800px;
}
.lg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px !important;
}
.list-group-item{
    cursor:grab;
    width: 30%;
    height: auto;
    min-height: 180px;
    max-height: 100px;
    flex-wrap: wrap;
    background-color: transparent;
}
.main{
    height: 100vh !important;
}

.wrong{
    transition: 0.2s;
    background-color: rgb(190, 44, 44);
    color: white;
}
.right{
    pointer-events: none;
    transition: 0.2s;
    background-color: rgb(27, 70, 27);
    color: white;
}

