.main{
	background-image: url("https://kartinkof.club/uploads/posts/2022-09/1662444884_33-kartinkof-club-p-novie-i-krasivie-kartinki-2d-44.jpg");
    background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}