.main{
	background-image: url("https://fonoteka.top/uploads/posts/2021-04/1619515955_29-phonoteka_org-p-zadnii-fon-dlya-platformera-29.jpg");
    background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}