.main{
	background-image: url("http://localhost:5173/src/assets/images/BackProgrammist.png") !important;
	background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
	
}
.cat{
	font-weight:900;
}
.dragplace{
	border:none !important;
	background: transparent !important;
}
.list-group-word{
	background-color: #5e737c;
}
.list-group-item{
	background-color: #5e737c !important;
	color:white;
}
.dragplaceCat{
	background-color: #3c5786 !important;
}
.DragPlaces{
	display: flex !important;
    	justify-content: space-around !important;
}
.modalText{
	color:#3C5786 !important;
    	font-weight: 500;
letter-spacing: .1rem;
}
.modal-content{
	background-color: #D4E1F2;
	border:4px solid white;
}
.modalCategory{
	background-color: #96A1EE;
	border:4px solid white;
}
.modalCategoryTitlte{
	font-size: 3.5rem;
    	font-weight: 900;
	color: #252B86 !important;
}
.btnModal{
	width:60% !important;
	font-size: 1.6rem;
    	font-weight: 900;
	border:4px solid white;
	background-color: #96A1EE;
	color: #252B86 !important;
}
.checkBtn{
	font-size: 1.6rem;
    	font-weight: 900;
	border:4px solid white;
	background-color: #96A1EE;
	color: #252B86 !important;
}