.main{
	background-image: url("http://localhost:5173/src/assets/images/Back.png") !important;
}
.dragplaceCat{
	background-color: #F9EBE8 !important;
}
.cat{
	color:#484e75 !important;
font-weight:700;
}
.modalText{
	color:#3C5786 !important;
    	font-weight: 500;
	letter-spacing: .1rem;
}
.modal-content{
	background-color: #D4E1F2;
	border:4px solid white;
}
.modalCategory{
	background-color: #96A1EE;
	border:4px solid white;
}
.modalCategoryTitlte{
	font-size: 3.5rem;
    	font-weight: 900;
	color: #252B86 !important;
}
.btnModal{
	width:60% !important;
	font-size: 1.6rem;
    	font-weight: 900;
	border:4px solid white;
	background-color: #96A1EE;
	color: #252B86 !important;
}
.checkBtn{
	font-size: 1.6rem;
    	font-weight: 900;
	border:4px solid white;
	background-color: #96A1EE;
	color: #252B86 !important;
}