.first{
	background-image: url("http://localhost:5173/src/assets/images/Left.svg") !important;
}
.second{
	background-image: url("http://localhost:5173/src/assets/images/right.svg") !important;
}
.third{
	background-image: url("http://localhost:5173/src/assets/images/Down.svg") !important;
}