.first{
	background-image: url("http://localhost:5173/src/assets/images/Left_up.svg") !important;
}
.second{
	background-image: url("http://localhost:5173/src/assets/images/Right_up.svg") !important;
}
.third{
	background-image: url("http://localhost:5173/src/assets/images/Left_down.svg") !important;
}
.fourth{
	background-image: url("http://localhost:5173/src/assets/images/Right_down.svg") !important;
}